<div class="footer-links">
  <p class="copy">©2017</p>
  <p class="company-name">we ❤︎ components</p>
</div>
<nav class="articles">
  <ul class="articles-list">
    <li class="articles-list-1"><a class="link" href="#">Articles</a></li>
    <li class="articles-list-2"><a class="link"  href="#">Books</a></li>
    <li class="articles-list-3"><a class="link"  href="#">Events</a></li>
    <li class="articles-list-4"><a class="link"  href="#">Reasons</a></li>
    <li class="articles-list-5"><a class="link"  href="#">Tips</a></li>
  </ul>
</nav>
<nav class="social"></nav>
<ul class="social-list">
  <li class="articles-social-1"><a class="link"  href="#">Twitter</a></li>
  <li class="articles-social-2"><a class="link"  href="#">Instagram</a></li>
  <li class="articles-social-3"><a class="link" href="#">Mastodon.social</a></li>
</ul>
