<div class="footer-links">
  <p class="copy">©2017</p>
  <p class="company-name">we ❤︎ components</p>
</div>
<nav class="articles">
  <ul class="articles-list">
    <li class="articles-list-1">Articles</li>
    <li class="articles-list-2">Books</li>
    <li class="articles-list-3">Events</li>
    <li class="articles-list-4">Reasons</li>
    <li class="articles-list-5">Tips</li>
  </ul>
</nav>
<nav class="social"></nav>
<ul class="social-list">
  <li class="articles-social-1">Twitter</li>
  <li class="articles-social-2">Instagram</li>
  <li class="articles-social-3">Mastodon.social</li>
</ul>
