<aside class= "reasons">
  <h2 class="reasons-title">3 Reasons To Purchase</h2>
  <div class= "reasons-container">
    <ul class="reasons-list">
      <li class="reasons-metus">Ut sed metus
        <p>Lorem ipsum dolor sit amet, consecteur.</p>
      </li>
      <li class="reasons-erat">Curabitur ac erat
        <p>Mauris mattis urna quis lorem molestie.</p>
      </li>
      <li class="reasons-dictum"> Morbi dictum
      <p>Aliquam in dolor et dolor tincidunt.</p></li>
    </ul>
    <input type="button" value="More Reasons">

   </input>
  </div>
  
</aside>   