<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Evaluación Módulo 1 - María Muñoz</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body class="body">
    <header class= "header">
      <partial src="_header.html"></partial>
  </header>


    <main class= "main-hero">
      <partial src="_hero.html"></partial>
    </main>
    
   <aside class= "reasons">
     <h2 class="reasons-title">3 Reasons To Purchase</h2>
     <div class= "reasons-container">
       <ul class="reasons-list">
         <li class="reasons-metus">Ut sed metus
           <p>Lorem ipsum dolor sit amet, consecteur.</p>
         </li>
         <li class="reasons-erat">Curabitur ac erat
           <p>Mauris mattis urna quis lorem molestie.</p>
         </li>
         <li class="reasons-dictum"> Morbi dictum</li>
         <p>Aliquam in dolor et dolor tincidunt.</p>
       </ul>
       <input type="button" value="More Reasons">

      </input>
     </div>
   </aside>   
<footer class="footer">


</footer>

  </body>
</head>
</html>
