.footer {
  background-color: #304268;
  width: 100vw;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.copy {
  width: 159px;
  height: 30px;
  font-family: Roboto;
  font-size: 14px;
  color: white;
}
.copy-name {
  width: 159px;
  height: 30px;
  font-family: Roboto;
  font-size: 14px;
  color: white;
}
.articles {
  width: 161px;
  height: 150px;
  font-family: Roboto;
  font-size: 16px;
  color: white;
}
.articles-list {
  color: white;
  list-style: none;
}
.link {
  color: white;
  text-decoration: none;
}
.social {
  width: 161px;
  height: 150px;
  font-family: Roboto;
  font-size: 16px;
  color: white;
}
.social-list {
  color: white;
  list-style: none;
}
.social {
  width: 159px;
  height: 90px;
  font-family: Roboto;
  font-size: 16px;
  color: white;
}
