.header {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: border-box;
}
.hamburger-button {
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ico-menu {
  width: 16px;
  height: 14px;
}
//a partir de aqui tocar pte alineacion, tamaños contenedores/
.header-moto {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 15.6%;
  justify-content: space-around;
  font-family: RobotoSlab;
}
.moto {
  font-size: 80px;
  color: white;
  font-family: RobotoSlab-Bold;
  display: block;
  align-items: center;
  margin: 50px 50px 0px 50px;
}
.moto-habitase {
  font-size: 24px;
  color: white;
}

///ver que pasa con  posicionamiento de la imagen //
.button-container {
  width: 22.5px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.button {
  width: 45px;
  height: 45px;
  align-self: center;
  padding: 10px;
 
}
.ico-scroll-down {
  background-color: white;
  background-image: url("/_src/assets/icons/ico-scroll-down.svg");
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  background-position: center;
  border-radius: 50%;
  object-fit: contain;
}
