.header {
  height: 100vh;
  widows: 100vw;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
}
.hamburger-button {
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ico-menu {
  width: 16px;
  height: 14px;
}
//a partir de aqui tocar pte alineacion, tamaños contenedores/
.header-moto {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /*align-items: ;*/
  position: absolute;
  top: 50%;
  bottom: 15.6%;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: Roboto;
}
.moto {
  font-size: 80px;
  color: white;
  font-family: Roboto;
  display: block;
  align-content: center;
  margin: 50px 50px 0px 50px;
}
.moto-habitase {
  width: 730px;
  height: 32px;
  font-family: Roboto;
  font-size: 24px;
  font-size: 24px;
  color: white;
  align-items: center;
}

.button-container {
  background-color: none;
  border: none;
  width: 22.5px;
  height: 50px;
}
.button {
  width: 45px;
  height: 45px;
  align-self: center;
  padding: 10px;
  border: none;
  background-color: white;
  border-radius: 50%;
  border: 0px;
}

.ico-scroll-down {
  background-color: white;
  background-image: url("../images/ico-scroll-down.svg");
  background-repeat: no-repeat;
  height: 45px;
  width: 45px;
  background-position: center;
  border-radius: 50%;
  object-fit: contain;
}
