.header {
  height: 100vh;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-size: border-box;
}
.hamburger-button {
  position: fixed;
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ico-menu {
  width: 16px;
  height: 14px;
}
//a partir de aqui tocar pte alineacion, tamaños contenedores/
.header-moto {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  bottom: 15.6%;
  justify-content: space-around;
}
.moto {
  font-size: 80px;
  /*font-family: roboto slab;*/
  color: white;
  display: block;
  align-items: center;

  /*justify-content: c;*/
  margin: 50px 50px 0px 50px;
}
.moto-habitase {
  font-size: 24px;
  color: white;
}

///ver que pasa con tamaño, posicionamiento y border radius//
.button-container {
  margin-top: 10px;
  align-items: center;
}
.header-button {
  width: 45px;
  height: 45px;

  background-color: white;
}
.ico-scroll-down {
  transform: rotate(180deg);
}
