.reasons {
  background-color: #eff9ff;
}

//adorno intemedio, va al final//
/*::after {
  width: 45px;
  height: 45px;
  background: white;
  object-fit: contain;
  content: <img src= "img/ico-arrow.svg" class= "ico-arrow" >;
}
*/
